In [1]:
#Importo algunas librerias
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import datasets

In [2]:
#Importo mi dataset [hrdatatrain]
df = pd.read_csv("hrdatatrain.csv")
df.head()

,employee_id,department,region,education,gender,recruitment_channel,no_of_trainings,age,previous_year_rating,length_of_service,KPIs_met >80%,awards_won?,avg_training_score,is_promoted
0,65438,Sales & Marketing,region_7,Master's & above,f,sourcing,1,35,5.0,8,1,0,49,0
1,65141,Operations,region_22,Bachelor's,m,other,1,30,5.0,4,0,0,60,0
2,7513,Sales & Marketing,region_19,Bachelor's,m,sourcing,1,34,3.0,7,0,0,50,0
3,2542,Sales & Marketing,region_23,Bachelor's,m,other,2,39,1.0,10,0,0,50,0
4,48945,Technology,region_26,Bachelor's,m,other,1,45,3.0,2,0,0,73,0

In [3]:
#dimension  de mi dataset
df.shape

(54808, 14)

In [4]:
#Datos estadisticos para algunas de mis columnas
df.describe()

,employee_id,no_of_trainings,age,previous_year_rating,length_of_service,KPIs_met >80%,awards_won?,avg_training_score,is_promoted
count,54808.000000,54808.000000,54808.000000,50684.000000,54808.000000,54808.000000,54808.000000,54808.000000,54808.000000
mean,39195.830627,1.253011,34.803915,3.329256,5.865512,0.351974,0.023172,63.386750,0.085170
std,22586.581449,0.609264,7.660169,1.259993,4.265094,0.477590,0.150450,13.371559,0.279137
min,1.000000,1.000000,20.000000,1.000000,1.000000,0.000000,0.000000,39.000000,0.000000
25%,19669.750000,1.000000,29.000000,3.000000,3.000000,0.000000,0.000000,51.000000,0.000000
50%,39225.500000,1.000000,33.000000,3.000000,5.000000,0.000000,0.000000,60.000000,0.000000
75%,58730.500000,1.000000,39.000000,4.000000,7.000000,1.000000,0.000000,76.000000,0.000000
max,78298.000000,10.000000,60.000000,5.000000,37.000000,1.000000,1.000000,99.000000,1.000000

In [5]:
#Quiero saber si hace falta algun valor para alguna columna
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54808 entries, 0 to 54807
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   employee_id           54808 non-null  int64
 1   department            54808 non-null  object
 2   region                54808 non-null  object
 3   education             52399 non-null  object
 4   gender                54808 non-null  object
 5   recruitment_channel   54808 non-null  object
 6   no_of_trainings       54808 non-null  int64
 7   age                   54808 non-null  int64
 8   previous_year_rating  50684 non-null  float64
 9   length_of_service     54808 non-null  int64
 10  KPIs_met >80%         54808 non-null  int64
 11  awards_won?           54808 non-null  int64
 12  avg_training_score    54808 non-null  int64
 13  is_promoted           54808 non-null  int64
dtypes: float64(1), int64(8), object(5)
memory usage: 5.9+ MB

In [6]:
df.is_promoted.value_counts()

0    50140
1     4668
Name: is_promoted, dtype: int64

In [7]:
df.isnull().sum()

employee_id                0
department                 0
region                     0
education               2409
gender                     0
recruitment_channel        0
no_of_trainings            0
age                        0
previous_year_rating    4124
length_of_service          0
KPIs_met >80%              0
awards_won?                0
avg_training_score         0
is_promoted                0
dtype: int64

In [8]:
df.education.value_counts()

Bachelor's          36669
Master's & above    14925
Below Secondary       805
Name: education, dtype: int64

In [9]:
df.education = df.education.fillna("Bachelor's")

In [10]:
print(df.education.fillna("Bachelor's"))

0        Master's & above
1              Bachelor's
2              Bachelor's
3              Bachelor's
4              Bachelor's
               ...
54803          Bachelor's
54804    Master's & above
54805          Bachelor's
54806          Bachelor's
54807          Bachelor's
Name: education, Length: 54808, dtype: object

In [11]:
df.education.value_counts()

Bachelor's          39078
Master's & above    14925
Below Secondary       805
Name: education, dtype: int64

In [12]:
df.education.isnull().sum()

0

In [13]:
df.education = df.education.replace({"Master's & above": "Master"})

In [14]:
df.education.isnull().sum()

0

In [15]:
df.education.value_counts()

Bachelor's         39078
Master             14925
Below Secondary      805
Name: education, dtype: int64

In [16]:
df.previous_year_rating.value_counts()

3.0    18618
5.0    11741
4.0     9877
1.0     6223
2.0     4225
Name: previous_year_rating, dtype: int64

In [17]:
df.previous_year_rating = df.previous_year_rating.fillna(3.0)

In [18]:
df.previous_year_rating.value_counts()

3.0    22742
5.0    11741
4.0     9877
1.0     6223
2.0     4225
Name: previous_year_rating, dtype: int64

In [19]:
df.previous_year_rating.isnull().sum()

0

In [20]:
df.department = df.department.map({'Analytics': 0, 'Finance': 1, 'HR': 2, 'Legal': 3,'Operations': 4,'Procurement': 5,'R&D': 6,'Sales & Marketing': 7, 'Technology': 8 })
df.region = df.region.map({'region_1': 1, 'region_2': 2, 'region_3': 3, 'region_4': 4,'region_5': 5,'region_6': 6,'region_7': 7,'region_8': 8, 'region_9': 9,'region_10': 10,'region_11': 11,'region_12': 12, 'region_13' :13,'region_14': 14, 'region_15': 15, 'region_16': 16, 'region_17': 17,'region_18': 18,'region_19': 19,'region_20': 20,'region_21': 21, 'region_22': 22,'region_23': 23,'region_24': 24,'region_25': 25, 'region_26': 26, 'region_27': 27,'region_28': 28,'region_29': 29,'region_30': 30, 'region_31': 31,'region_32': 32,'region_33': 33,'region_34': 34 })
df.education = df.education.map({"Bachelor's": 0,'Below Secondary': 1, 'Master': 2})
df.gender = df.gender.map({"f": 0, 'm': 1})
df.recruitment_channel = df.recruitment_channel.map({"other": 0, 'referred': 1,"sourcing":2 })                                 
  
  
df.head()

,employee_id,department,region,education,gender,recruitment_channel,no_of_trainings,age,previous_year_rating,length_of_service,KPIs_met >80%,awards_won?,avg_training_score,is_promoted
0,65438,7,7,2,0,2,1,35,5.0,8,1,0,49,0
1,65141,4,22,0,1,0,1,30,5.0,4,0,0,60,0
2,7513,7,19,0,1,2,1,34,3.0,7,0,0,50,0
3,2542,7,23,0,1,0,2,39,1.0,10,0,0,50,0
4,48945,8,26,0,1,0,1,45,3.0,2,0,0,73,0

In [21]:
X = df.drop(["employee_id", "is_promoted"], axis = 1)
X.head()

,department,region,education,gender,recruitment_channel,no_of_trainings,age,previous_year_rating,length_of_service,KPIs_met >80%,awards_won?,avg_training_score
0,7,7,2,0,2,1,35,5.0,8,1,0,49
1,4,22,0,1,0,1,30,5.0,4,0,0,60
2,7,19,0,1,2,1,34,3.0,7,0,0,50
3,7,23,0,1,0,2,39,1.0,10,0,0,50
4,8,26,0,1,0,1,45,3.0,2,0,0,73

In [22]:
y = df["is_promoted"]
y.head()

0    0
1    0
2    0
3    0
4    0
Name: is_promoted, dtype: int64

# ENTRENAMIENTO Y PRUEBA

In [23]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.svm import SVC

In [24]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [25]:
len(X_train), len(X_test), len(X)

(43846, 10962, 54808)

In [26]:
(len(X_train)/len(X))*100

79.99927017953583

In [27]:
#evaluo diferentes modelos de clasificacion

dtc_model = DecisionTreeClassifier()
log_model = LogisticRegression(max_iter=10000)
rfc_model = RandomForestClassifier()
gsn_model = GaussianNB()
svc_model = SVC()
dtc_model.fit(X_train, y_train)
rfc_model.fit(X_train, y_train)
gsn_model.fit(X_train, y_train)
svc_model.fit(X_train, y_train)
log_model.fit(X_train, y_train)

LogisticRegression(max_iter=10000)

In [28]:
print(f"DecisionTreeClassifier: {dtc_model.score(X_test, y_test)}")
print(f"RandomForestClassifier: {rfc_model.score(X_test, y_test)}")
print(f"GaussianNB: {gsn_model.score(X_test, y_test)}")
print(f"SVC: {svc_model.score(X_test, y_test)}")
print(f"logistic : {log_model.score(X_test, y_test)}")

DecisionTreeClassifier: 0.8967341725962416
RandomForestClassifier: 0.9337712096332786
GaussianNB: 0.9145228972815179
SVC: 0.9159824849480022
logistic : 0.9195402298850575

##ENTRENO MI MODELO

In [29]:
import pickle

pickle.dump(rfc_model, open('modelohr.pkl', 'wb'))

In [30]:
pickled_model = pickle.load(open('modelohr.pkl', 'rb'))
pickled_model.predict([[7, 7, 0, 0, 2, 1, 35, 5, 3, 1, 0, 50]])

c:\users\ostab\appdata\local\programs\python\python38\lib\site-packages\sklearn\base.py:420: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(

array([1], dtype=int64)